#info {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

#content {
    text-align: center;
    border: 2px red solid;
}

#start-btn {
    display: none;
    margin: 0 auto;
}

#custom-categories {
    display: none;
}

#room-code {
    color: red;
}

#info-form input {
    display: none;
}