#content {
    align-content: center;
    display: grid;
    grid-template-columns: 325px 700px 325px;
    grid-template-rows: auto 475px 0.1fr;
    min-width: 0;
    max-width: 1350px;
    margin: auto;
}

#header-container {
    grid-column: 1 / 4;
    grid-row: 1 / 2;
    border: 5px black solid;
    border-bottom: 0;
    background-color: rgb(131, 212, 236);
}

#top {
    display: flex;
    justify-content: space-evenly;
}

#rules-btn {
    margin-top: 20px;
    max-height: 25px;
}

#scores-container {
    grid-column: 1 / 2;
    grid-row: 2 / 4;
    border: 5px black solid;
    background-color: rgb(131, 212, 236);
}

#canvas-container {
    grid-column: 2 / 3;
    grid-row: 2 / 4;
}

#chat-container {
    grid-column: 3 / 4;
    grid-row: 2 / 3;
    border: 5px black solid;
    background-color: rgb(131, 212, 236);
    overflow-y: scroll;
    overflow-wrap: break-word;
    border-bottom: 0;
}

#info {
    display: flex;
    flex-direction: row;
    margin: 0.5em;
    padding: 0 10em;
}

#menu {
    display: flex;
    justify-content: space-evenly;
}

#menu h3 {
    margin: 0 3em 0;
}

#title {
    margin: 0.5em;
}

#events {
    list-style: none;
}

.chat-wrapper {
    grid-column: 3 / 4;
    grid-row: 3 / 4;
    border: 5px black solid;
    padding: 0.5rem;
    min-width: 250px;
}

.chat-wrapper input {
    width: 70%;
}

.chat-wrapper button {
    width: 25%
}

canvas {
    max-width: 100%;
    border: 2px red solid;
}

#canvas-resize {
    border: 5px black solid;
    border-left: 0;
    border-right: 0;
    overflow: hidden;
}