html, body {
    height: 98%;
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

#info-form {
    display: flex;
    flex-direction: column;
}

#info-form button {
    margin: 10px 0 10px;
}

#info-form input {
    margin: 10px 0 10px;
}